.heading{
width: 100%;
text-align: center;
height: 65px;
padding-top: 15px;
padding-left: 100px;
}
.heading h3{
    display: inline;
}
.heading2{
    float: right;
    border: 1px solid white;
}


#status , #start{
    font-size: 22px;
}
#footer{
    bottom: 0px;
    background-color:rgba(127, 255, 212, 0.956);
    line-height: 2;
    margin:0px;
    width: 100%;
    font-size: 21.5px;
    font-family:monospace;
    font-weight: bold;
    font-style: italic;
    color:darkslategrey;
    position: fixed;
    
}

#restart{
    font-size: 22px;
    bottom: 60px;
    position: fixed;
}
.modal-dialog{
    width: 58%;
}

h4{
    background-color: white;
    line-height: 2;
    margin: 0px;
}
#instructions_div_ins{
    text-align: left;
    font-size: 18px;
}